body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.topo {
  background-color: #ffffff;
  color: white;
  padding: 5px 20px;
}
.logos {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
  width: auto;
}
.logo {
  height: 60;
  width: auto;
}
.titulo {
  margin-top: 15px;
}
.banner {
  background-image: url("text11.jpng");
  background-size: cover;
  background-position: center;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.banner h1 {
  color: white;
  font-size: 48px;
  margin: 0;
}

