body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* TOPO BRANCO */
.topo {
  background-color: #ffffff;
  padding: 20px 40px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 150px;
  height: auto;
}

/* FAIXA VERDE */
.banner {
  background-image: url("verde.png"); /* CONFERE O NOME */
  background-size: cover;
  background-position: center;
  height: 160px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.banner h1 {
  color: white;
  font-size: 52px;
  margin: 0;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
