body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("fundo.png");
  background-size: cover;        /* cobre a tela toda */
  background-repeat: no-repeat;  /* não repete */
  background-attachment: fixed;  /* fica fixo ao rolar */
}


.topo {
  background-color: #ffffff;
  color: white;
  padding: 20px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 60px;
}

.titulo {
  margin-top: 15px;
}
