body {
  background-color: #00FFFF;
  color: cyan;
}

input {
  background-color: #222;
  color: white;
  border: 1px solid #555;
}

button {
  background-color: #4caf50;
  color: white;
}

h1 {
  color: #00e5ff;
}
