body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.topo {
  background-color: #ffffff;
  color: white;
  padding: 20px;
}

.logos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 60px;
}

.titulo {
  margin-top: 15px;
}
