body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* TOPO BRANCO */
.topo {
  background-color: white;
  padding: 20px 60px;
}

/* ORGANIZA LOGOS */
.logos {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* LOGO PROGRAMA */
.logo-programa {
  height: 80px;
  width: auto;
}

/* LOGO IF */
.logo-if {
  height: 100px;  /* controla tamanho */
  width: auto;
}

/* BANNER VERDE */
.banner {
  background-image: url("verde.png"); /* textura verde */
  background-size: cover;
  background-position: center;

  height: 170px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bot
