body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.topo {
  background-color: #ffffff;
  color: white;
  padding: 10px;
}
.logos {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60;
  width: auto;
}
.logo {
  height: 60;
  width: auto;
}
.titulo {
  margin-top: 15px;
}

